<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container-fluid">
    <div class="row no-gutter">
      <%= image_pack_tag "media/images/login-bg.png", class: "d-none d-md-flex col-md-4 col-lg-6 bg-image" %>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                <h3 class="login-heading mb-4"><%= t "devise.registrations.new.hello" %></h3>
                <form>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-label-group">
                          <%= f.label :first_name %></br>
                          <%= f.text_field :first_name, class: "form-control", placeholder: "First name", id: "first-name" %>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-label-group">
                          <%= f.label :last_name %></br>
                          <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", id: "last-name" %>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="custom-control custom-radio mr-2">
                      <%= f.radio_button :gender, "0", class: "custom-control-input" %>
                      <%= f.label :gender, "Male", value: "0", class: "custom-control-label" do %>
                        <span><%= t "devise.registrations.new.male" %></span>
                      <% end %>
                    </div>
                    <div class="custom-control custom-radio mr-2">
                      <%= f.radio_button :gender, "1", class: "custom-control-input" %>
                      <%= f.label :gender, "Female", value: "1", class: "custom-control-label" do %>
                        <span><%= t "devise.registrations.new.female" %></span>
                      <% end %>
                    </div>
                    <div class="custom-control custom-radio mr-2">
                      <%= f.radio_button :gender, "2", class: "custom-control-input" %>
                      <%= f.label :gender, "Other", value: "2", class: "custom-control-label" do %>
                        <span><%= t "devise.registrations.new.other" %></span>
                      <% end %>
                    </div>
                    <div class="custom-control custom-radio">
                      <%= f.radio_button :gender, "3", class: "custom-control-input" %>
                      <%= f.label :gender, "Prefer not to say", value: "3", class: "custom-control-label" do %>
                        <span><%= t "devise.registrations.new.not_to_say" %></span>
                      <% end %>
                    </div>
                  </div>
                  <div class="form-label-group">
                    <p><%= t "devise.registrations.new.dob" %></p>
                    <%= f.date_select :date_of_birth, class: "form-control", start_year: 1950, end_year: Date.today.year %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :email %></br>
                    <%= f.email_field :email, class: "form-control", placeholder: "Email address", id: "inputEmail", autofocus: true, autocomplete: "email" %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :phone_number %></br>
                    <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number", id: "phone-number" %>
                  </div>
                  <div class="form-label-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                      <em><%= t "devise.registrations.new.note" %></em>
                    <% end %><br />
                    <%= f.password_field :password, class: "form-control", placeholder: "Password", id: "inputPassword", autocomplete: "new-password" %>
                  </div>
                  <div class="form-label-group mb-4">
                    <%= f.label :password_confirmation %></br>
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Comfirm password", autocomplete: "new-password" %>
                  </div>
                  <%= f.submit t("devise.registrations.new.sign_up"), class: "btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" %>
                  <div class="text-center pt-3">
                  <%= t "devise.registrations.new.mention" %> <%= link_to t("devise.registrations.new.sign_in"), new_user_session_path, class:"font-weight-bold" %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
