<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left ps ps--active-y">
  <!-- Logo -->
  <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" href="<%= business_root_path %>"> <%= image_pack_tag "media/images/logo.png" %> </a>
    </div>
  <div class="dropdown m-2">
    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", style="width: 100%;">
      <span class = "h5 text-white"><%= current_restaurant.name %></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% for restaurant in current_user.restaurants do %>
        <a class="dropdown-item user-restaurant" href="#" data-restaurant-id="<%= restaurant.id %>"><%= restaurant.name %></a>
      <% end %>
    </div>
  </div>
  <!-- Navigation -->
  <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
    <!-- Dashboard -->
    <li class="menu-item">
      <a href="<%= business_root_url %>"> <span><i class="fas fa-chart-line fs-16"></i><%= t("business.shared.sidebar.dashboard") %></span>
      </a>
    </li>
    <!-- /Dashboard -->
    <!-- product -->
    <li class="menu-item">
      <a href="#" class="has-chevron" data-toggle="collapse" data-target="#product" aria-expanded="false" aria-controls="product"> <span><i class="fa fa-archive fs-16"></i><%= t("business.shared.sidebar.menu") %></span>
      </a>
      <ul id="product" class="collapse" aria-labelledby="product" data-parent="#side-nav-accordion">
        <li> <%= link_to t("business.shared.sidebar.menu"), business_foods_path() %>
        </li>
        <li> <%= link_to t("business.shared.sidebar.add_product"), new_business_food_path() %>
        </li>
      </ul>
    </li>
    <!-- product end -->
    <!-- orders -->
    <li class="menu-item">
      <a href="pages/orders.html"> <span><i class="fas fa-clipboard-list fs-16"></i><%= t("business.shared.sidebar.orders") %></span>
      </a>
    </li>
    <!-- orders end -->
    <!-- customers-->
    <li class="menu-item">
      <a href="<%= business_root_url %>"> <span><i class="fas fa-star fs-16"></i><%= t("business.shared.sidebar.customers_review") %></span>
      </a>
    </li>
    <!-- Customers  end -->
    <!-- sales -->
    <li class="menu-item">
      <a href="pages/sales.html"> <span><i class="fa fa-briefcase fs-16"></i><%= t("business.shared.sidebar.promos") %></span>
      </a>
    </li>

    <!-- /Apps -->
  </ul>
<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 710px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 434px;"></div></div></aside>
