<tr>
  <td class="ms-table-f-w d-flex flex-row">
    <% image_1 = url_for(food.image_1) rescue "" %>
    <%= image_tag image_1 %>
    <div class = "ml-1">
      <div>
        <%= link_to food.name, business_food_path(food), class: "text-dark" %>  
      </div>
      <div>
        <span class = "text-secondary"><%= food.details %></span>
      </div>
    </div>    
    </td>
    <td><%= food.price %>đ</td>
    <td><%= food.category.name %></td>
    <% if food.availability == 0 %>
      <td><span class="badge badge-pill badge-danger"><%= t("business.views.foods.shared.out_of_stock") %></span></td>
    <% else %>
      <td><span class="badge badge-pill badge-primary"><%= t("business.views.foods.shared.in_stock") %></span></td>
    <% end %> 
    <td>
      <%= link_to business_food_path(food), class: "btn btn-outline-primary btn-sm m-0" do %>
        <i class="fas fa-arrow-alt-circle-right", style = "font-size:10px"></i> <%= t("business.shared.button.view_details") %>
      <% end %>    
    </td>
  </tr>
