<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pl-0">
        <li class="breadcrumb-item"><a href="<%= business_root_path %>"><i class="fas fa-home"></i> <%= t("business.views.foods.index.home") %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= t("business.views.foods.index.menu") %></li>
      </ol>
    </nav>
      <%= paginate @foods %>

  </div>
  <%= render @foods %>
</div>
  <%= paginate @foods %>
