<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pl-0">
        <li class="breadcrumb-item"><a href="<%= business_root_path %>"><i class="fas fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="<%= business_foods_path %>">Menu</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Product</li>
      </ol>
    </nav>
    <%= form_for [:business, @food], class: "needs-validation clearfix" do |f| %>
    <%= render 'business/shared/error_messages', object: @food %>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="ms-panel ms-panel-fh">
      <div class="ms-panel-header">
        <h6>New Product Form</h6>
      </div>
      <div class="ms-panel-body">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label for="validationCustom18">Product Name</label>
              <div class="input-group">
                <%= f.text_field :name, class: "form-control", id: "validationCustom18" %>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom22">Select Category</label>
              <div class="input-group">
                <%= f.select :category_id, options_from_collection_for_select(FoodCategory.all, "id", "name"), {}, { class: "form-control", id: "validationCustom22" } %>
                <div class="invalid-feedback">
                  Please select a Catagory.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom25">Price</label>
              <div class="input-group">
                <%= f.text_field :price, class: "form-control", id: "validationCustom25" %>
                <div class="invalid-feedback">
                  Price
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationCustom12">Details</label>
              <div class="input-group">
                <%= f.text_area :details, rows: "5", id: "validationCustom12", class: "form-control" %>
                <div class="invalid-feedback">
                  Please provide a message.
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationCustom12">Product Image 1</label>
              <div class="custom-file">
                <%= f.file_field :image_1, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input", id: "file-preview-1", data: {flag: 1} %>
                <label class="custom-file-label" for="validatedCustomFile">Upload Images...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationCustom12">Product Image 2</label>
              <div class="custom-file">
                <%= f.file_field :image_2, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input", id: "file-preview-2", data: {flag: 2} %>
                <label class="custom-file-label" for="validatedCustomFile">Upload Images...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="validationCustom12">Product Image 3</label>
              <div class="custom-file">
                <%= f.file_field :image_3, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input", id: "file-preview-3", data: {flag: 3} %>
                <label class="custom-file-label" for="validatedCustomFile">Upload Images...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="ms-panel">
          <div class="ms-panel-header">
            <h6>Product </h6>
          </div>
          <div class="ms-panel-body">
            <div id="imagesSlider" class="ms-image-slider carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "preview-1", style: "width: 100%; height: 20vw; object-fit: cover;", alt: "First slide" %>
                </div>
                <div class="carousel-item">
                  <%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "preview-2", style: "width: 100%; height: 20vw; object-fit: cover;", alt: "First slide" %>
                </div>
                <div class="carousel-item">
                  <%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "preview-3", style: "width: 100%; height: 20vw; object-fit: cover;", alt: "First slide" %>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#imagesSlider" data-slide-to="0" class=""> <%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "slider-preview-1", style: "width: 100%; height: 5vw; object-fit: cover;", alt: "First slide" %></li>
                <li data-target="#imagesSlider" data-slide-to="1" class="active"><%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "slider-preview-2", style: "width: 100%; height: 5vw; object-fit: cover;", alt: "Second slide" %></li>
                <li data-target="#imagesSlider" data-slide-to="2"><%= image_pack_tag "media/images/no-image.png", class: "d-block w-100", id: "slider-preview-3", style: "width: 100%; height: 5vw; object-fit: cover;", alt: "Third slide" %></li>
              </ol>
            </div>
          </div>
          <div class="ms-panel-header new">
            <p class="medium">Available</p>
            <div>
              <%= f.radio_button :availability, '1', checked: true %> Yes
              <%= f.radio_button :availability, '0' %> No
            </div>
          </div>
          <div class="ms-panel-header new">
            <%= link_to "Cancel", business_foods_path, class:"btn btn-secondary d-block"%>
            <%= f.submit "Add", class: "btn btn-primary d-block" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
